@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#outer{
    min-height: 100vh;
    max-height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

#username{
    font-size: clamp(10px, 7vw, 30px);
}


#child1{
    background-color: transparent;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 40px;
}

#contentgrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10px;
    gap:10px;
}

#contentgrid > *{

    border: solid black;
    padding: 10px;
    border-radius: 10px;

}
#content{
    
}

#chart{
    width: 70vw;
    min-height: 30vw;
}

#mile {

background-image: url("../../assets/sprinter.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

#sprint {
width: 100%;
background-image: url("../../assets/sprinter.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
   
#lift{

background-image: url("../../assets/lifting.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
   
#jump{

background-image: url("../../assets/jumping.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
   
