@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-size: 62.5%;
}

#circle{
    margin: 50px;
    min-width: 20rem;
    max-width: 70rem;
    min-height: 20rem;
    max-height: 70rem;
    border-radius: 100px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#circle2{
    min-width: 20rem;
    min-height: 20rem;
    border-radius: 100px;
    background-color: orange; 
}