@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


#blogtitle{
    font-size: clamp(10px, 6vw, 30px);
    margin-top: 10px;
}

#blogvis{

    width: 80vw;
    max-width: 800px;
    margin: 20px auto;
    height: 50vw;
    max-height: 500px;
}

#content{
    font-size: clamp(10px, 4vw, 15px);
}